<div id="contentAndHappy">
  <h2>I am all around</h2>
  
  <center><strong>Email</strong>: michellebu@berkeley.edu<br>
  <strong><a href="http://www.linkedin.com/pub/michelle-bu/35/31b/250">LinkedIn</strong> | 
  <strong><a href="https://github.com/michellebu">GitHub</strong></center>
</div>