<div id="contentAndHappy">
  <h2>I am all around</h2>
  
  <center><strong>Email</strong>: michellebu@berkeley.edu<br>
  <strong><a class="changeForTheHomeless" href="http://www.linkedin.com/pub/michelle-bu/35/31b/250">LinkedIn</a></strong> | 
  <strong><a class="changeForTheHomeless" href="https://github.com/michellebu">GitHub</a></strong></center>
</div>