<div id="contentAndHappy">
  <h2>These come from all over</h2>
<a href="/info"><div class="fancyDisplay" style="background-image:url('images/design/info.jpg')"><h4>Infographics</h4><h3>The Daily Californian</h3><h5>Aug 2011 - Present</h5></div></a>
  <a href="/shirts"><div class="fancyDisplay" style="background-image:url('images/design/shirts.jpg')"><h4>T-shirts</h4><h3>Various organizations</h3></div></a>
  <a href="/logos"><div class="fancyDisplay" style="background-image:url('images/design/logos.jpg')"><h4>Logos</h4><h3>Various clients</h3></div></a>
  <a href="/misc"><div class="fancyDisplay clearThisCrap" style="background-image:url('images/design/misc.jpg')"><h4>Misc</h4><h3>Posters, illustrations</h3></div></a>
  
  <div class="clearThisCrap" style="opacity:0"></div>

</div>