<div id="contentAndHappy">
  <h2>Haro</h2>
  
  I'm using overused cursive font to annoy you, yes.
  
  <br><br>
  
  Apparently top borders are popular, so I'm doing that as well.
  
  <br><br>
  <div class="fancyDisplay">Hi there.</div>
  <div class="fancyDisplay">Hi there.</div>
  <div class="fancyDisplay">Hi there.</div>
  
  <br><br>
  
  Esse you probably haven't heard of them magna, consequat hoodie pitchfork irony stumptown deserunt consectetur lomo. Whatever Austin brunch readymade occaecat lomo. Tofu bicycle rights vegan, irony ea ullamco dolor do Austin duis. Tumblr aute eiusmod keffiyeh. Tofu fanny pack lomo yr ex, veniam accusamus bicycle rights 8-bit DIY ethical high life carles. Nostrud whatever et, keffiyeh you probably haven't heard of them nulla incididunt esse gluten-free sed locavore officia aliquip. Quinoa culpa locavore, sint put a bird on it thundercats wes anderson messenger bag mixtape echo park aesthetic ad eiusmod stumptown yr.
</div>