<div id="contentAndHappy">
  <h2>Hello there</h2>
  I am a self-declared small girl named Michelle with equally small dreams. I enjoy my penguin, posh tea, Pemmies, ponies, peonies, peaches, plums, pluots, pomegranates, photography, imagery, interiors, ice-skating, ivy-growing-on-buildings, antiquated Russian/German/Hollywood movies, autumn, auburn hair, and alliteration. 
  
  <br><br>
  
  Why, outside of being a second year Electrical Engineering & Computer Sciences major at UC Berkeley, it seems that I have all but too many things to enjoy.
  
  <br><br>
  
  Smile. Everything gets better.
  

</div>