<div id="contentAndHappy">
  <h2>Infographics</h2>
  <div class="fancyDisplay boxOfInformation">A select few of my weekly infographics that are published in Monday issues of The Daily Cal. Click to see full image.<center><strong><a href="/design">Go back.</a></strong></center></div>
  <a href="images/design/divide.jpg"><div class="fancyDisplay" style="background-image:url('images/design/divide.jpg')"><h4>Growing Divide</h4><h3>Nov 7 2011</h3></div></a>
  <a href="images/design/mumps2.jpg"><div class="fancyDisplay" style="background-image:url('images/design/mumps2.jpg')"><h4>Mumps</h4><h3>Oct 24 2011</h3></div></a>
  <a href="images/design/mumps.jpg"><div class="fancyDisplay" style="background-image:url('images/design/mumps.jpg')"><h4>Mumps</h4><h3>Never published</h3></div></a>
  <a href="images/design/solar.jpg"><div class="fancyDisplay" style="background-image:url('images/design/solar.jpg')"><h4>Solar</h4><h3>Oct 10 2011</h3></div></a>
  <a href="images/design/football.jpg"><div class="fancyDisplay" style="background-image:url('images/design/football.jpg')"><h4>Football Monday</h4><h3>Sept 2011</h3></div></a>
<div class="clearThisCrap" style="opacity:0"></div>
</div>