<div id="contentAndHappy">
  <h2>Logogogogos</h2>
  <div class="fancyDisplay boxOfInformation">Logos for various ventures and organizations. Click to see full image.<center><strong><a href="/design">Go back.</a></strong></center></div>
  <a href="images/design/big.jpg"><div class="fancyDisplay" style="background-image:url('images/design/big.jpg')"><h4>BIG</h4><h5>Berkeley Investment Group</h5></div></a>
  <a href="images/design/AngelLaunch32.jpg"><div class="fancyDisplay" style="background-image:url('images/design/AngelLaunch32.jpg')"><h4>Angel Launch</h4><h5>40 prototypes total</h5></div></a>
  <a href="images/design/micronil.jpg"><div class="fancyDisplay" style="background-image:url('images/design/micronil.jpg')"><h4>Micronil</h4><h5>Retailer</h5></div></a>
  <a href="images/design/WES3.5.jpg"><div class="fancyDisplay" style="background-image:url('images/design/WES3.5.jpg')"><h4>WES</h4><h5>Entrepreneurial Conference</h5></div></a>
  <a href="images/design/RocketOutline.jpg"><div class="fancyDisplay" style="background-image:url('images/design/RocketOutline.jpg')"><h4>Angel Launch</h4><h5>Rocket Icon</h5></div></a>

</div>