<div id="contentAndHappy">
  <h2>Misser laney us</h2>
  <div class="fancyDisplay boxOfInformation">Random things I do, perhaps not so well. Click to see full image.<center><strong><a href="/design">Go back.</a></strong></center></div>
  <a href="images/design/HackJamPoster.jpg"><div class="fancyDisplay" style="background-image:url('images/design/HackJamPoster.jpg')"><h4>HackJam</h4><h3>Nov 12 2011</h3><h5>For Hackers@Berkeley</h5></div></a>
  <a href="images/design/illus.jpg"><div class="fancyDisplay" style="background-image:url('images/design/illus.jpg')"><h4>Illustration</h4><h3>Very old</h3><h5>With mouse and brain</h5></div></a>
<div class="clearThisCrap" style="opacity:0"></div>
</div>