<div id="contentAndHappy">
  <h2>These are sparse for now</h2>
  <a href="http://freezing-samurai-8808.herokuapp.com/"><div class="fancyDisplay" style="background-image:url('images/projects/pyception.jpg')"><h4>Pyception</h4><h3>Front end (JS/HTML/CSS)</h3><h5>Battle of the Bay 2011</h5></div></a>
  <a href="http://help-plus.appspot.com/"><div class="fancyDisplay" style="background-image:url('images/projects/help.jpg')"><h4>Help+</h4><h3>JS/HTML/CSS/GAE Python</h3><h5>Google FUSE 2011</h5></h3></div></a>
  <a href="http://hazelcough.zxq.net/divart.html"><div class="fancyDisplay" style="background-image:url('images/projects/divart.jpg')"><h4>Triangles</h4><h3>Personal Project</h3><h5>Old: CSS/HTML artwork</h5></div></a>
  
  

</div>