<div id="contentAndHappy">
  <h2>Halftoning because I'm cheap</h2>
  <div class="fancyDisplay boxOfInformation">T-shirts for various causes. Minimized number of colors used for cost-efficiency. Click to see full image.<center><strong><a href="/design">Go back.</a></strong></center></div>
  <a href="images/design/calbear.jpg"><div class="fancyDisplay" style="background-image:url('images/design/calbear.jpg')"><h4>BMES</h4><h3>1 Color on Yellow</h3><h5>Fall 2011</h5></div></a>
  <a href="images/design/SWEshirt.jpg"><div class="fancyDisplay" style="background-image:url('images/design/SWEshirt.jpg')"><h4>SWE</h4><h3>1 Color on Blue</h3><h5>Spring 2011</h5></div></a>
  <a href="images/design/10.jpg"><div class="fancyDisplay" style="background-image:url('images/design/10.jpg')"><h4>Hurricane Relief</h4><h3>3 Colors on White</h3><h5>Spring 2011</h5></div></a>
  <a href="images/design/back2.jpg"><div class="fancyDisplay" style="background-image:url('images/design/back2.jpg')"><h4>BMES (back)</h4><h5>Biomedical Engineering Society</h5></div></a>
  <a href="images/design/SWEback.jpg"><div class="fancyDisplay" style="background-image:url('images/design/SWEback.jpg')"><h4>SWE (back)</h4><h5>Society of Women Engineers</h5></div></a>
  <a href="images/design/seniors.jpg"><div class="fancyDisplay" style="background-image:url('images/design/seniors.jpg')"><h4>Senior shirt</h4><h5>Health Careers High School</h5></div></a>
  <a href="images/design/powderpuff.jpg"><div class="fancyDisplay" style="background-image:url('images/design/powderpuff.jpg')"><h4>Seniors v. Juniors</h4><h5>Health Careers High School</h5></div></a>
  <div class="fancyDisplay boxOfInformation clearThisCrap" style="opacity:0">Dummy because idk what is wrong.<center><strong><a href="/design">Go back.</a></strong></center></div>
</div>